<% @flash_files.each do |flash| %>
<div><a href="<%= flash.accessory_url %>" target="_blank" title="<%= flash.name%>-点击链接下载"><%= flash.name.size>40?"#{flash.name[0,40]}...":flash.name %></a></div>
<% end %>