<% if @flash_files.length != 0 %>
<fieldset>
  <legend>FLASH列表</legend>
  <div class="list_div">
    <% @reciver = @right_reciver %>
    <%= render :partial => "flash_versions"%>
  </div>
</fieldset>
<% end %>