<fieldset>
  <legend>聊天窗口</legend>
  <%= form_tag({:controller => :messages, :action => :send_msg}, "data-type" => "script",:remote => true, :method => :post ) do %>
      <div>
        <label>聊天：</label><input name="content" type="text" size="20">
        <button id="btn_upload" type="submit" >发 送</button>
      </div>
      <input type="hidden" name="user_id" value="<%= @user.id %>" />
      <input type="hidden" name="task_id" value="<%= @task.id %>" />
      <input type="hidden" name="accessory_id" value="<%= @accessory.id %>" />
  <% end %>
</fieldset>