<% if !@ppt_files.nil? && @ppt_files.length != 0 %>
<fieldset>
  <legend>PPT列表</legend>
  <div class="list_div">
    <% @reciver = @left_reciver %>
    <%= render :partial => "ppt_versions"%>
  </div>
</fieldset>
<% end %>