<div id="publish_flash_task" class="file_uploadfile_panel">
  <%= render :partial => "pub_flash_task"%>
</div>

<div id="flash_list" class="files_list_panel">
  <%= render :partial => "flash_list"%>
</div>

<div id="upload_flash" class="file_uploadfile_panel">
<% if @user.types == User::TYPES[:FLASH] && @user.id == @task.flash_doer %>
  <%= render :partial => "upload_flash"%>
<% end %>
</div>
<div id="upload_flash_source" class="file_uploadfile_panel">
<% if @user.types == User::TYPES[:FLASH] && @user.id == @task.flash_doer %>
  <%= render :partial => "upload_flash_source"%>
<% end %>
</div>