<fieldset>
  <legend>上传FLASH</legend>
  <%= form_tag({:action => :uploadfile}, :multipart => true ,:remote => true ) do %>
      <div class="form_div">
        <%= file_field_tag 'file', :onchange => "handleUpload(this);file_validate(this);"%>
        <button id="btn_upload" type="submit"  onchange="file_validate(this)" >上 传</button>
      </div>
      <input type="hidden" name="user_id" value="<%= @user.id %>" />
      <input type="hidden" name="task_id" value="<%= @task.id %>" />
      <input id="file_type" type="input" name="file_type" value="flash" />
  <% end %>
</fieldset>