<div id="header">
  <%= render :partial => "share/header"%>
</div>
<div class="summary">
  <%= render :partial => "share/title"%>
</div>
<div class="data_list">
  <%= render :partial => "task_list" %>
</div>