<div id="header">
  <%= render :partial => "share/header"%>
</div>
<div class="summary">
  <%= render :partial => "share/title"%>
</div>
<div class="data_list">
  <%= render :partial => "task_list" %>
</div>

<script>

    $(document).ready(function(){
        setInterval(reload_tasks,6000);// 注意函数名没有引号和括弧
    });
</script>