<div id="header">
  <%= render :partial => "share/header"%>
</div>
<div class="task_list" style="height: 30px; border: none;">
    <label style="margin-left: 10%;">任务详情</label>
</div>
<div class="task_details_container">
  <%= render :partial => "task_details_list"%>
</div>
<div class="task_data_list" style="border: none;">
  <%= render :partial => "workspaces"%>
</div>

<script>
    $(document).ready(function(){
        $("#workspace_left").find("div").find("[id='types']").val("ppt");
        $("#workspace_right").find("div").find("[id='types']").val("flash");
    })
</script>