<div id="header">
  <%= render :partial => "share/header"%>
</div>
<div class="task_list" style="height: 30px; border: none;">
    <label style="margin-left: 10%;">任务详情</label>
</div>
<div id="task_details" class="task_details_container">
  <%= render :partial => "task_details_list"%>
</div>
<div class="workspaces_panel" style="border: none;">
  <%= render :partial => "workspaces"%>
</div>

<script>

    $(document).ready(function(){
        $("#workspace_left").find("div").find("[id='file_type']").val("ppt");
        $("#workspace_right").find("div").find("[id='file_type']").val("flash");
        function show(){
            alert("ready");
        }
//        setInterval(show,3000);// 注意函数名没有引号和括弧
        // 使用setInterval("show()",3000);会报“缺少对象”
    });
</script>