<table style="text-align: center">
  <tr>
    <td>任务批次</td>
    <td>上传日期</td>
    <td>状态</td>
    <td>下载任务</td>
    <td>确认终检</td>
  </tr>
  <%@task_tags_arr.each do |task_tag| %>
    <tr>
      <td><%= task_tag[:name]%></td>
      <td><%= task_tag[:created_at]%></td>
      <td><%= task_tag[:complet_count]%>|<%= task_tag[:unfinish_count]%></td>
      <td><input type="button" value="下载任务"/></td>
      <td><input type="button" value="确认终检"/></td>
    </tr>
  <% end %>
</table>