<ol class="ol_menus">
    <li>
        <div class="tou" style="margin: 0 auto;"><span class="tou_label"><a href="#">任务包</a></span></div>
    </li>
    <li>
        <div class="tou"><span class="tou_label"><a href="#">工资结算</a></span></div>
    </li>
    <li>
        <div class="tou"><span class="tou_label"><a href="#">用户管理</a></span></div>
    </li>
</ol>