<%= form_for :users, :url => { :action => :upload, :controller => :users},:multipart => true,:remote => true , "data-type" => "script" do|f|%>
  <label>上传：</label><input type="file" name="file_upload" id="loading" />
  <input type="button" id="notice_hid" onclick="upload();" value="上传"/>
  <input type="submit" id="submit_file"/>
<% end %>