<div class="upload_bar">
<%= form_for :users, :url => { :action => :upload, :controller => :users},:multipart => true,:remote => true , "data-type" => "script" do|f|%>
  <label>上传：</label><input type="file" name="file_upload" id="loading" />
  <input type="submit" value="上传" id="submit_file" class="green_btn"/>
<% end %>
</div>