<div class="guanliyuan">
  <div class="tou">任务包</div>
  <div class="tou">工资结算</div>
  <div class="tou">用户管理</div>
</div>
<div class="manager_body" style="text-align: center">
  <div class="upload">
    <%= render :partial => 'upload_filetag' %>
  </div>
  <div class="list_file" >
    <%= render :partial => 'list_file' %>
  </div>
</div>