<div id="header" xmlns="http://www.w3.org/1999/html">
  <%= render :partial => "share/header"%>
</div>
<div class="guanliyuan">
  <%= render :partial => "users/nav_menus" %>
</div>
<div class="manager_body" style="text-align: center">
  <div class="upload">
    <%= render :partial => 'upload_filetag' %>
  </div>
  <div class="list_file" >
        <%= render :partial => 'list_file' %>
  </div>
</div>