/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

a { text-decoration: none;}

*{ padding: 0px; }

body{ background-color:#edf0f1; }

.green_btn { 
    background: #4dc078;
    padding: 5px 10px;
    color: #FFFFFF;
    border: 0 none;
    border-radius: 5px;
}

.header{
    width: 100%;
    height: 40px;
    text-align: center;
}

.header a{
    float: right;
    margin: 0 10% auto auto;
}

.summary{
    margin: 0 auto;
    width: 100%;
    height: 40px;
    /*background-color: beige;*/
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 80%;
    height: 40px;
    vertical-align: middle;
    background-color: beige;
}

.item{
    margin: 10px auto 10px 4%;
    width: 300px;
    height: 20px;
    float: left;
    vertical-align: middle;
    /*background-color: orangered;*/
}

label{
    font-size: 18px;
}

.data_list{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    /*background-color: gold;*/
    display: inline-block;
}

.task_data_list{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px darkgrey solid;
    margin: 0 auto;
    /*background-color: chocolate;*/
}

.workspaces_panel{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px darkgrey solid;
    margin: 0 auto;
}
.workspace_left div{
    width: 100%;
    height: auto;
}

.workspace_right div{
    width: 100%;
    height: auto;
}

.task_data_list table{
    width: 100%;
    border-collapse: collapse;
}

.task_data_list table thead{
    position: relative;
    width: 100%;
}
.task_data_list table thead th{
    padding: 0px;
    height: 35px;
    width: auto;
    /*border-right: 1px white solid;*/
    background-color: grey;
    border-bottom: 1px grey solid;
}

.task_data_list table tbody tr td{
    height: 30px;
    width: auto;
    text-align: center;
    border-bottom: 1px grey dashed;
    /*border-left: 1px grey dashed;*/
    /*border: 1px gray solid;*/
}

.task_details_container{
    margin: 0 auto;
    width: 100%;
    height: 150px;
    display: inline-block;
}

.task_details_data{
    margin: 0 auto;
    width: 80%;
    height: 140px;
    border: 1px darkgrey solid;
    background-color: beige;
}
.task_details_data .item{
    margin: 1% auto auto 12%;
    width: 30%;
    height: 30px;
    float: left;
    text-align: left;
    /*background-color: orangered;*/
}

.task_data_list .data_list{
    margin: 0 auto;
}
.task_data_list .data_list *{padding: 0px;}

.left{
    margin: 0 auto;
    width: 49%;
    height: 400px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: blueviolet;*/
}

.right{
    margin: 0 auto;
    width: 49%;
    height: 400px;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: blue;*/
}

.workspaces{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    /*background-color: brown;*/
}

.files_list_panel{
    margin: 0 auto 5px auto;
    width: 100%;
    height: auto;
    display: inline-block;
}

.files_list_panel fieldset{
    margin: 5px auto;
    width: 98%;
    height: auto;
    /*background-color: cadetblue;*/
}

.files_list_panel fieldset .list_div{
    margin: 5px auto 0 auto;
    width: 351px;
    height: auto;
    /*background-color: white;*/
}
.ppt_list_item{
    margin: 5px auto 0 auto;
    width: 351px;
    height: 30px;
    border: 1px grey dashed;
    text-align: center;
    display:inline-block;
    /*background-color: cornflowerblue;*/
}

.chat_bar{
    margin: -5px auto 5px auto;
    height: 250px;
    width: 351px;
    border: 1px grey solid;
    float:left;
    overflow-x: hidden;
    overflow-y: hidden;
    /*display: none;*/
    z-index: 0;
}

.left_chat_records{
    margin: 0 auto;
    width: 351px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: inline-block;
    /*background-color: black;*/
}

.left_chat_form{
    margin: 0 auto;
    height: 50px;
    width: 100%;
    z-index: 1;
    /*background-color: chartreuse;*/
}

.left_chat_form fieldset{
    margin: 2px auto;
    height: 98%;
    width: 100%;
    background-color: cadetblue;
    z-index: 2;
}

.left_chat_form fieldset form{
    height: 30px;
    width: 100%;
    z-index: 3;
}

.accessory_name{width:250px; height:20px; margin:6px auto; float:left;}

.files_list_panel fieldset .list_div div a{
    margin: 5px auto auto auto;
    width: 100%;
}

.file_uploadfile_panel{
    margin: 0 auto;
    width: 100%;
    height: auto;
    /*background-color: cornflowerblue;*/
}

.file_uploadfile_panel fieldset{
    margin: 0 auto;
    width: 98%;
    height: auto;
    /*background-color: gold;*/
}

.file_uploadfile_panel fieldset input{
    width: 200px;
    height: auto;
}
.file_uploadfile_panel fieldset form{
    width: 100%;
    height: 30px;
}

.file_uploadfile_panel fieldset .form_div{
    margin: 0 30px;
    width: auto;
    height: auto;
}

.file_uploadfile_panel fieldset #btn_upload{
    float: right;
}

//圆角矩形
.RoundedCorner{background: #9BD1FA; height:auto; width:300px;}
b.rtop, b.rbottom{display:block; background: #edf0f1}
b.rtop b, b.rbottom b{display:block;height: 1px;overflow: hidden; background: #9BD1FA}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}
