/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

a { text-decoration: none;}

*{ padding: 0px; }
.header{
    width: 100%;
    height: 40px;
    text-align: center;
}

.header a{
    float: right;
    margin: 0 10% auto auto;
}

.summary{
    margin: 0 auto;
    width: 100%;
    height: 30px;
    /*background-color: beige;*/
    display: inline-block;
}
.container{
    margin: 0 auto;
    width: 80%;
    height: 40px;
    vertical-align: middle;
    background-color: beige;
}

.item{
    margin: 0 auto 0 4%;
    width: 28%;
    height: 30px;
    float: left;
    vertical-align: middle;
    /*background-color: orangered;*/
}
label{
    font-size: 18px;
    font-style: oblique;
}

.data_list{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    /*background-color: gold;*/
    display: inline-block;
}

.task_data_list{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px darkgrey solid;
    margin: 0 auto;
    /*background-color: chocolate;*/
}

.workspaces_panel{
    margin: 0 auto;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px darkgrey solid;
    margin: 0 auto;
}
.workspace_left div{
    width: 100%;
    height: auto;
}

.workspace_right div{
    width: 100%;
    height: auto;
}

.task_data_list table{
    width: 100%;
    border-collapse: collapse;
}

.task_data_list table thead{
    position: relative;
    width: 100%;
}
.task_data_list table thead th{
    padding: 0px;
    height: 35px;
    width: auto;
    /*border-right: 1px white solid;*/
    background-color: grey;
    border-bottom: 1px grey solid;
}

.task_data_list table tbody tr td{
    height: 30px;
    width: auto;
    text-align: center;
    border-bottom: 1px grey dashed;
    /*border-left: 1px grey dashed;*/
    /*border: 1px gray solid;*/
}

.task_details_container{
    margin: 0 auto;
    width: 100%;
    height: 120px;
    display: inline-block;
}

.task_details_data{
    margin: 0 auto;
    width: 80%;
    height: 120px;
    border: 1px darkgrey solid;
    background-color: beige;
}

.task_details_data .item{
    margin: 1% auto auto 12%;
    width: 30%;
    height: 30px;
    float: left;
    text-align: left;
    /*background-color: orangered;*/
}

.task_data_list .data_list{
    margin: 0 auto;
}
.task_data_list .data_list *{padding: 0px;}

.left{
    margin: 0 auto;
    width: 49%;
    height: 400px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: blueviolet;*/
}

.right{
    margin: 0 auto;
    width: 49%;
    height: 400px;
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    /*background-color: blue;*/
}

.workspaces{
    margin: 0 auto;
    width: 80%;
    height: 400px;
    /*background-color: brown;*/
}

.files_list_panel{
    margin: 0 auto 5px auto;
    width: 100%;
    height: auto;
    display: inline-block;
}

.files_list_panel fieldset{
    margin: 5px auto;
    width: 98%;
    height: auto;
    /*background-color: cadetblue;*/
}

.files_list_panel fieldset .list_div{
    margin: 5px 10px 5px 10px;
    width: auto;
    height: auto;
    background-color: white;
}
.ppt_list_item{
    margin:0 5px 5px 5px;
    width: auto;
    height: 30px;
    border: 1px grey dashed;
    text-align: center;
    z-index: 3;
    /*background-color: cornflowerblue;*/
}

.files_list_panel fieldset .list_div div a{
    margin: 5px auto auto auto;
    width: 100%;
}

.file_uploadfile_panel{
    margin: 0 auto;
    width: 100%;
    height: auto;
    /*background-color: cornflowerblue;*/
}

.file_uploadfile_panel fieldset{
    margin: 0 auto;
    width: 98%;
    height: auto;
    /*background-color: gold;*/
}

.file_uploadfile_panel fieldset input{
    width: 200px;
    height: auto;
}
.file_uploadfile_panel fieldset form{
    width: 100%;
    height: 30px;
}

.file_uploadfile_panel fieldset .form_div{
    margin: 0 30px;
    width: auto;
    height: auto;
}

.file_uploadfile_panel fieldset #btn_upload{
    float: right;
}