/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
a { text-decoration: none;}

.login {
    width: 300px;
    height: 200px;
    margin: 80px auto 0 auto;

    background-color: #202e3c;
}
.login_box{
    width: 220px;
    height:150px;
    margin: 20px 40px 0 40px;
    display: inline-block;
}

.login_items{
    width: 220px;
    margin: 10px auto;
}

.login_btn{
    width: 220px;
    margin: 5px auto 0 auto;
}
.tishi{
    width: 220px;
    height: 20px;
    margin: 10px 40px;
}
.guanliyuan{
    width: 100%;
    height: 40px;
}

.text{
    width: 200px;
    height: 20px;
}

.tou{
    width: 120px;
    height: 60px;
    margin: 0 auto 0 1px;
    float: left;
    font: 18px oblique;
    text-align: center;
    vertical-align: middle;
    background-color: cornflowerblue;
}

.tou_label{
    margin: 20px auto 10px auto;
    width: auto;
    height: auto;
    display: inline-block;
}

.ol_menus{
    margin: 0 auto;
    height: 60px;
    width: auto;
}

.ol_menus li{
    margin: 0 auto;
    float: left;
    height: 60px;
    list-style: none;
}

.manager_body{
    margin: 0 auto;
    height: 500px;
    position: relative;
}
.upload{
    margin: 0 auto;
    width: 100%;
    height: 40px;
    display: inline-block;
}

.upload_bar{
    height: 30px;
    margin: 5px;
}

.list_file{
    width: 100%;
    margin: 0 auto;
    border: 2px solid darkgrey;
}
.contain{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    border: 2px solid darkgrey;
}

.list_file table {
    width: 100%;
    height: auto;
    margin: 0 auto;
}