/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.login {
    width: 504px;
    height: 370px;
    margin: 80px auto 0 auto;
}